html {
    background-image: url(../IMG/R-removebg-preview\ \(4\).png);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: 105%;
    background-position-y: 80%;
}