/*Pagina*/
html{
  max-width: 100%;
  max-height: 100%;
  background-color: darkgray;
  zoom: 85%;
  display: flex;
}
video.video__fundo {
  z-index: -100;
  width: 90.5%;
  position: absolute;
  display: grid;
  opacity: 0.6;
  margin-left: 4.5%;
}
div#body1{
  display: flex;
  margin-top: 420px;
  flex-direction: column-reverse;
  align-items: center;
}

div.space01 {
  background-color: darkgray;
  height: 30%;
  padding-top: 40px;
}
::-webkit-scrollbar{
  width: 8px;
  background-color: rgba(255, 255, 255, 0.452);
}
::-webkit-scrollbar-thumb{
  background-color: rgba(64, 0, 80, 0.658);
  border-radius: 15px;
}
/*--------------------*/
div#sites {
  justify-content: left;
  margin-left: 110px;
  display: flex;
  margin-bottom: 20px;
}
#sites2 {
  justify-content: left;
  margin-left: 110px;
  display: flex;

}
div#ata {
  display:flex;
  margin-bottom: 120%;
}
div#Pag1 {
  display: left;
  margin-top: 50px;
  margin-bottom: 50px;
}
img{
  max-width: 100%;
}
.card {
  background-color: #fff;
  width: 200px;
  height: 300px;
  margin-left: 50px;      
  margin-right: 50px;   
  border-radius: 12px;
  border: 10px ;
  padding: 10px 10px 10px 10px;
  box-shadow: 4px 4px 12px #aaaa;
}
.card img {
  width: 100%;
  height: 130px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 50%;
}
.card h2 {
  font-size: 1.2rem;
}
.card h3 {
  font-size: 2.2 rem;
  color: #aaaa;
}
.card button {
  background-color: #6721ff63;
  height: 30px;
  border: none;
  padding: 4px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
}
.card button:hover {
  background-color: #5001a0;
  cursor: pointer;
}
