html{
    display: flex;
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-size: 510px;
    background-position-y: -300px;
    background-position-x: 197px;
    background-repeat: repeat;
}
::-webkit-scrollbar{
    width: 8px;
    background-color: rgba(255, 255, 255, 0.452);
}
::-webkit-scrollbar-thumb{
    background-color: rgba(64, 0, 80, 0.658);
    border-radius: 15px;
}
/*Planos de fundo*/
body.BCsanduiche{
    background-image: url(../IMG/background_sanduiches.png);
}
body.BCbolo{
    background-image: url(../IMG/background_bolos.png);
}
body.BCsalgado{
    background-image: url(../IMG/background_salgados.png);
}
body.BCpastel{
    background-image: url(../IMG/background_pasteis.png);
}
body.BCcoxinha{
    background-image: url(../IMG/background_coxinhas.png);
}
/*Fim dos Planos de fundo*/
/*Pagina de compra*/
main{
    background-color: rgb(221, 221, 221);
    width: 610px;
    min-height: 100%;
    height: auto;
    float: right;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
/*Botão de back*/
button.voltar{
    background-image: url(../IMG/ico_voltar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: 1px;
    background-position-y: 0.5px;
    height: 40px;
    width: 40px;
    border: 0;
    background-color: transparent;
    user-select: none;
    cursor: pointer;
}
.voltar:hover{
    background-color: rgba(0, 0, 0, 0.226);
    border-radius: 25px 25px 25px 25px;
}
a.avoltar{
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 15px;
}
/*Fim do botão*/
img.imc{
    width: 450px;
    height: 250px;
    margin-top: 20px;
    border-radius: 10px;
    justify-self: center;
    border: 2px dashed rgba(0, 0, 0, 0.336);
}
section.club{
    width: 450px;
    margin-left: 90px;
}
section.club h1.Sanduiche{
    text-align: center;
}
div.valor{
    display: flex;
    margin-top: 0;
}
.valor h1{
    font-family: fantasy;
}
h1.float{
    font-size: 20px;
    margin-top: 2px;
    margin-left: 4px;
}
h1.preco{
    font-size: 40px;
    margin-top: 2px;
    margin-left: 15px;

}
strong.r{
    color: #4747d4;
}
strong.s{
    color: #ff7622;
}
div#alinha{
    display: flex;
}
p.fre{
    color: blue;
    font-family: fantasy;
    margin-left: 200px;
    margin-top: 5px;
}
div.estrelas{
    background-image: url(../IMG/avalia_estrela.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    background-position-x: 23px;
    background-position-y: -24px;
    width: 120px;
    margin-left: 175px;
    margin-top: -5px;
}
.estrelas p{
    margin-left: 5px;
    font-size: 12px;
    margin-top: -10px;
    user-select: none;
}
button.comprar{
    width: 450px;
    height: 48px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rebeccapurple;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-style: oblique;
    cursor: pointer;
    user-select: none;
}
button.comprar:hover{
    background-color: rgba(0, 0, 0, 0.226);
}
/*Descrição*/
section.descricao{
    width: 500px;
    margin-left: 65px;
    margin-top: 50px;
    border-top: 2px solid rgba(0, 0, 0, 0.555);
    padding-bottom: 40px;
}
h1.des{
    font-family: cursive;
}
/*Fim da descrição*/
/*Fim da pagina de Compra*/
/*Inicio PopUp*/
dialog{
    width: 1200px;
    height: 600px;
}
.carregando{
    background-color: rgb(221, 221, 221);
    width: 1232px;
    height: 632px;
    position: fixed;
    margin-top: -16px;
    margin-left: -16px;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center
}
body .carregando{
    justify-content: center;
}
.span, .spano, .spana{
    border: 5px solid black;
    border-radius: 50%;
    margin: 15px;
    opacity: 0;
}
.pontos{
    display: none;
}
.span:nth-child(1) {
    animation: pre-carregamento .6s ease-in-out alternate infinite;
}
.spano:nth-child(2) {
    animation: pre-carregamento .6s ease-in-out alternate .2s infinite;
}
.spana:nth-child(3) {
    animation: pre-carregamento .6s ease-in-out alternate .4s infinite;

}
@keyframes pre-carregamento{
    100% {
        transform: scale(2);
        opacity: 1;
    }
}
button#fechar{
    z-index: 10;
    position: fixed;
    user-select: none;
}
div.vermelho{
    background-color: rgb(207, 0, 0);
    height: 250px;
    width: 1232px;
    position: fixed;
    margin-top: -16px;
    margin-left: -16px;
}
section.erro{
    background-color: white;
    height: 460px;
    width: 515px;
    position: fixed;
    margin-top: 70px;
    margin-left: 330px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.438);
    box-shadow: 4px 6px #888888;
}
div.img_erro{
    background-image: url(../IMG/X_negado.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 190px;
    height: 150px;
    width: 150px;
    margin-left: 180px;    
    margin-top: 10px;
}
h1.h1_ops{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 0;
}
p.p_erro{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    margin-top: -10px;
}
p.erro_vermelho{
    font-family: cursive;
    text-align: center;
    font-size: 16px;
    margin-top: -15px;
    color: rgb(255, 0, 85);
}
p.duvida{
    font-size: 20px;
    text-align: center;
    color: rgb(255, 0, 85);
    font-family: cursive;
    margin-left: 350px;
    margin-top: 0px;
}
button#fechar2{
    height: 45px;
    width: 85px;
    border-radius: 5px;
    margin-left: 210px;
    margin-top: 10px;
    background-color: #3483FA;
    color: white;
    user-select: none;
    border-color: #888888;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0.3px 1px #888888;
    cursor: pointer;
}
