/*Inicio Header*/
html{
    display: grid;
}
body{
    padding: 0;
    margin: 0;
}
header{
    background-color: #2a2a4d;
}
nav{
    display: flex;
}
a {
    text-decoration: none;
    user-select: none;
}
a#redirect{
    display: flex;
    margin-left: 40px;
    cursor: default;
}
div.flex{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
img.logo{
    width: 100px;
    height: 100px;
}
h1.hd {
    color: white;
    height: 25px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
h1.sabor {
    margin-top: -20px;
    margin-left: 10px;
}
strong.B {
    color: #4747d4;
    font-family: cursive;
}
strong.S {
    color: #ff7622;
    font-family: cursive;
    margin-left: -4px;
}
h1.logobs {
    font-size: 20px;
}
input.search{
    height: 39px;
    width: 600px;
    margin-left: auto;
    margin-top: 30px;
    border: none;
    padding-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
}
input.search::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button.subbutton{
    background-color: #ff7622;
    background-image: url(../IMG/ico_pesquisa.png);
    background-size: 55px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin-top: 30px;
    height: 40px;
    width: 80px;
    margin-right: 200px;
    cursor: pointer;
}
div#navbar{
    background-color: rgba(42, 42, 77, 0.726);
    height: 40px;
    display: flex;
    border-bottom: 8px solid #c4c4c4;
    position: sticky;
    top: 0;
    z-index: 3;
}
div.triangulo{
    height: 0px;
    width: 0px;
    margin-left: 5px;
    margin-top: 16px;
    border-top: 11px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    user-select: none;
}
br{
    user-select: none;
}
::placeholder {
    user-select: none;
}
h4.left{
    user-select: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
}
div.config{
    height: 40px;
    width: 40px;
    background-image: url(../IMG/Config_ico.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}
div.pesquisa {
    height: 40px;
    width: 40px;
    background-image: url(../IMG/Lupa__ico-pesquisa.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    visibility: hidden;
    animation: appear 1ms ease-in-out;
    animation-timeline: scroll();
    animation-range: cover 5% cover 100%;
}
#comp {
    display: flex;
    margin-left: auto;
    margin-right: 25px;
}
@keyframes appear {
    from {
        visibility: hidden;
    }
    to {
       visibility: visible;
    }
}
div.pesquisa:hover {
    background-color: rgba(0, 0, 0, 0.466);
}
.drop:hover {
    background-color: rgba(0, 0, 0, 0.466);
    padding-left: 50px;
    padding-right: 50px;
}
div.drop {
    display: flex;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
dialog:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
dialog#popup, #popup2, #popup3, #popup4, #popup5{
    position: absolute;
    margin-top: 40px;
    z-index: 2;
    margin-left: 0px;
    border: 0;
    width: 570px;
    height: 340px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    border-top: 8px solid #c4c4c4;
    background-color: rgba(42, 42, 77, 0.89);
    overflow: hidden;
}
/*----------------*/
.card {
    background-color: #fff;
    width: 200px;
    height: 300px;
    margin-left: 31px;
    margin-bottom: 50px;
    border-radius: 12px;
    margin-right: 30px;
    border: 10px ;
    padding: 10px 10px 10px 10px;
    box-shadow: 4px 4px 12px #aaaa;
}
.card img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
.card h2 {
    font-size: 1.2rem;
}
.card h3 {
    font-size: 2.2 rem;
    color: #aaaa;
}
.card button {
    background-color: #6721ff63;
    height: 30px;
    border: none;
    padding: 4px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
}
.card button:hover {
    background-color: #5001a0;
    cursor: pointer;
}
.flaxs, .flaxs2, .flaxs3, .flaxs4, .flaxs5{
    display: flex;
}
button#bubu, .bubu2, #bubu3, #bubu4{
    height: 50px;
    width: 50px;
    position: fixed;
    left: 577px;
    top: 330px;
    border-radius: 25px 25px 25px 25px;
}
button#inversobubu, .inversobubu2, #inversobubu3, #inversobubu4{
    height: 50px;
    width: 50px;
    position: fixed;
    left: 577px;
    top: 260px;
    border-radius: 25px 25px 25px 25px;
}
#bubu:focus, #inversobubu:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
#nobru1, #nobru2, #nobru3, #nobru4{
    position: absolute;
    visibility: hidden;
}
#nobro1, #nobro2, #nobro3, #nobro4{
    position: absolute;
    visibility: hidden;
}
#nobra1, #nobra2, #nobra3, #nobra4{
    position: absolute;
    visibility: hidden;
}
#nobrs1, #nobrs2, #nobrs3, #nobrs4{
    position: absolute;
    visibility: hidden;
}
#nobrr1, #nobrr2, #nobrr3, #nobrr4{
    position: absolute;
    visibility: hidden;
}
#nobru1:checked ~ .flaxs{
    margin-top: 0;
}
#nobru1:checked ~ #inversobubu{
    visibility: hidden;
}
#nobru2:checked ~ .flaxs{
    margin-top: -65%;
}
#nobru3:checked ~ .flaxs{
    margin-top: -130%;
}
#nobru4:checked ~ .flaxs{
    margin-top: -195%;
}
/*------------------------------*/
#nobro1:checked ~ .flaxs2{
    margin-top: 0;
}
#nobro1:checked ~ #voltar2{
    visibility: hidden;
}
#nobro2:checked ~ .flaxs2{
    margin-top: -65%;
}
#nobro3:checked ~ .flaxs2{
    margin-top: -130%;
}
#nobro4:checked ~ .flaxs2{
    margin-top: -195%;
}
/*-----------------------------*/
#nobra1:checked ~ .flaxs3{
    margin-top: 0;
}
#nobra1:checked ~ #voltar3{
    visibility: hidden;
}
#nobra2:checked ~ .flaxs3{
    margin-top: -65%;
}
#nobra3:checked ~ .flaxs3{
    margin-top: -130%;
}
#nobra4:checked ~ .flaxs3{
    margin-top: -195%;
}
/*-----------------------------*/
#nobrs1:checked ~ .flaxs4{
    margin-top: 0;
}
#nobrs1:checked ~ #voltar4{
    visibility: hidden;
}
#nobrs2:checked ~ .flaxs4{
    margin-top: -65%;
}
#nobrs3:checked ~ .flaxs4{
    margin-top: -130%;
}
#nobrs4:checked ~ .flaxs4{
    margin-top: -195%;
}
/*-----------------------------*/
#nobrr1:checked ~ .flaxs5{
    margin-top: 0;
}
#nobrr1:checked ~ #voltar5{
    visibility: hidden;
}
#nobrr2:checked ~ .flaxs5{
    margin-top: -65%;
}
#nobrr3:checked ~ .flaxs5{
    margin-top: -130%;
}
#nobrr4:checked ~ .flaxs5{
    margin-top: -195%;
}
