/*Pagina*/
html{
    max-width: 100%;
    max-height: 100%;
    background-color: darkgray;
}
video.video__fundo {
    z-index: -100;
    width: 90.5%;
    margin-left: 55px;
    position: absolute;
    display: grid;
    opacity: 0.6;
}
div#body1{
    display: flex;
    margin-top: 420px;
    flex-direction: column-reverse;
}
div.space01 {
    background-color: darkgray;
    height: 30%;
    padding-top: 40px;
}
::-webkit-scrollbar{
    width: 5px;
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.349);
}
 /*--------------------*/
/*Caixas de informação*/
div.infocube {
    width: 200px;
    height: 320px;
    border-radius: 10px;
    background-image: url(https://cdn0.tudoreceitas.com/pt/posts/1/9/1/coxinha_simples_191_600.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid #2a2a4d46;
}
p.borrado {
    background-color: #c4c4c496;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    height: 100px;
}
h4.borrado {
    background-color: #c4c4c496;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
}
a.pretu {
    color: black;
}
img.caco {
    width: 200px;
    height: 130px;
    border-radius: 10px;
    border: 1px solid black;
}
/*End of Infocube*/
/*Inicio Animação de Scroll - Horizontal*/
.tag-list{
    margin: 0;
    padding-inline: 0;
    list-style: none;
}
.tag-list li {
    padding: 1rem;
    background: var(--clr-primary-400);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-400);
}
.scroller {
    overflow-x: auto;
    width: 90.5%;
    margin-left: 55px;
    position: absolute;
    z-index: 1;
}
.scroller__inner {
    padding-block: 0.1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.scroller[data-animated="true"] {
    overflow: scroll;
    mask: linear-gradient(90deg, rgba(0, 0, 0, 0.342), white 20%, white 80%, rgba(0, 0, 0, 0.342));
}
.scroller[data-animated="true"] .scroller__inner {
    flex-wrap: nowrap;
    animation: scroll 40s linear infinite;
}
@keyframes scroll {
    to {
        transform: translate(calc(-137% - 0.5rem));
    }
}
.scroller[data-animated="true"] .scroller__inner:hover {
    animation-play-state: paused;
}
.scroller[data-animated="true"]::-webkit-scrollbar {
    display: none;
}
div.scroller {
    border-bottom: 12px solid #c4c4c4;
}
/*End of Scroller*/
/*Inicio do Slider*/
#slider{
    border: 3px solid #0b0b3f;
    margin-top: 40px;
    margin-left: 55px;
    width: 90%;
    height: 450px;
    overflow: hidden;
    margin-bottom: 40px;
}
.slides{
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}
.Slide{
    width: 25%;
    position: relative;

}
.Slide img{
    width: 100%;
    height: 450px;
}
.manual-nav{
    position: absolute;
    width: 89.4%;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}
.Manual-btn{
    border: 2px solid rgb(43, 43, 43);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.Manual-btn:not(:last-child){
    margin-right: 40px;
}
.Manual-btn:hover{
    background-color: rgb(43, 43, 43);
}
#radio1:checked ~ .Primeiro{
    margin-left: 0;
}
#radio2:checked ~ .Primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .Primeiro{
    margin-left: -50%;
}
#radio4:checked ~ .Primeiro{
    margin-left: -75%;
}
div.navega div{
    border: 2px solid skyblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navega{
    position: absolute;
    margin-top: 370px;
    margin-left: 38.9%;
    display: flex;
    justify-content: center;
}
.navega div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navega .auto-btn1{
    background-color: gray;
}
#radio2:checked ~ .navega .auto-btn2{
    background-color: grey;
}
#radio3:checked ~ .navega .auto-btn3{
    background-color: gray;
}
#radio4:checked ~ .navega .auto-btn4{
    background-color: gray;
}
div.control{
    border: 2px solid skyblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.control-left:checked ~ .Primeiro{
    margin-left: -25%;
}
/*End of Slider*/
/*Inicio oferta 1*/
.burgueroff{
    width: 200px;
    height: 400px;
    background-color: #0b0b3f;
    background-image: url(../IMG/Burquer_proBS.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info_burguer{
    height: 399px;
    width: 66%;
    border: 1px solid #0b0b3f;
    background-color: #2a2a4d;
}
#off {
    display: flex;
    margin-left: 55px;
}
.nna {
    margin-left: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.par{
    margin-left: 30px;
}
footer{
    background-color: #2a2a4d;
    margin-top: 40px;
    height: 40px;
}